header
{background-color: #D8527F;
  font-family: "copperplate", fantasy;
  font-size: 2.5em;
}
aside {
  width: 93%;
  padding-left: 9px;
  margin-left: 0px;
  padding-right: 4px;
  margin-right: 0px;
  float: right;
}
footer
{background-color: #D8527F;
  font-family: "copperplate", fantasy;
  font-size: 1em;
}
section
{background-color: #D4B2BE
}
